if answerForm
  .form-group.col.s12
    - for (var index = 1; index <= 4; index++)
      .row
        .input-field.col.s1
          input(type='checkbox', name='checkButton', id='option'+index)
          label(for='option'+index)
        .input-field.col.s10
          input.form-control(type='text', name='option'+index, placeholder='Enter Answer Here', required)
        .input-field.col.s1
          a.btn-floating.btn-tiny.waves-effect.waves-light.red(onclick='$(this).parent().parent().remove()')
            i.tiny.material-icons close

  #addMoreAnswersButton
    a.waves-effect.waves-light.btn(onclick="addChooseAllMCAnswers('checkbox')") add answer

else if studentQuestionForm
  form.form-question#chooseAll_answerForm
    each answer in question.choices
      .row
        input(type='checkbox' name='checkButton', value=answer, id=answer, autofocus)
        label(for=answer) #{answer}

    button(class='btn btn-lg btn-primary btn-block' type='submit') Submit

else if adminQuestionEdit
  .form-group.col.s12
    each option, i in question.choices
      .row
        .input-field.col.s1
          if (question.answer.indexOf(option) > -1)
            input(type='checkbox', name='checkButton', id=i, value='option'+i, checked)
          else
            input(type='checkbox', name='checkButton', id=i, value='option'+i)
          label(for=i)
        .input-field.col.s10
          input.form-control(type='text', name='option'+i, placeholder='Enter New Answer Here', required, value=option)
        .input-field.col.s1
        a.btn-floating.btn-tiny.waves-effect.waves-light.red(onclick='$(this).parent().remove()')
          i.tiny.material-icons close
  #addMoreAnswersButton
    a.waves-effect.waves-light.btn(onclick="addChooseAllMCAnswers('checkbox')") add answer

block scripts
  script(src='/js/chooseAll-answer.js')
