if answerForm
	.form-group.col.s12
		each index in [1,2,3,4]
			.row
				.input-field.col.s2.m1.l1
					input(type='radio', name='radbutton', value='option'+index, id='option'+index, required)
					label(for='option'+index)
				.input-field.col.s8.m10.l10
					input.form-control(type='text', name='option'+index, placeholder='Enter Answer Here', required)
				.input-field.col.s2.m1.l1
					a.btn-floating.btn-tiny.waves-effect.waves-light.red(onclick='$(this).parent().parent().remove()')
						i.tiny.material-icons close

	#addMoreAnswersButton
		a.waves-effect.waves-light.btn(onclick="addMCAnswers('radio')") add answer

else if studentQuestionForm
	form.form-question#mc_answerform
		each answer in question.choices
			.row
				input(type='radio' name='answer', value=answer, id=answer, required)
				label(for=answer) #{answer}

		button(class='btn btn-lg btn-primary btn-block' type='submit') Submit

else if adminQuestionEdit
	.form-group.col.s12
		each option, i in question.choices
			.row
				.input-field.col.s2.m1.l1
					if question.answer == option
						input(type='radio', name='radbutton', id=i, value=i, required, checked)
					else
						input(type='radio', name='radbutton', id=i, value=i, required)
					label(for=i)
				.input-field.col.s8.m10.l10
					input.form-control(type='text', name='option'+i, placeholder='Enter New Answer Here', required, style='float:left;' value=option)
				.input-field.col.s2.m1.l1
				a.btn-floating.btn-tiny.waves-effect.waves-light.red(onclick='$(this).parent().remove()')
					i.tiny.material-icons close

	#addMoreAnswersButton
		a.waves-effect.waves-light.btn(onclick="addMCAnswers('radio')") add answer

block scripts
	script(src='/js/mc-answer.js')
