form.form-edit#account-edit-form
  h4 #{user.id}
  p Created on #{cdate}
  label.sr-only(for='userid') Username
  input.form-control#userid(type='text' name='id' placeholder='New username' autofocus)

  h4 Change name
  p #{user.fname} #{user.lname}
  label.sr-only(for='fname') First Name
  input.form-control#fname(type='text' name='fname' placeholder='New first name')
  label.sr-only(for='lname') Last Name
  input.form-control#lname(type='text' name='lname' placeholder='New last name')

  h4 Change email
  p Current email: #{user.email}
  label.sr-only(for='email') Email
  input.form-control#email(type='email' name='email' placeholder='New email')

  h4 Set points
  p Current points: #{user.points}
  label.sr-only(for='email') Points
  input.form-control#email(type='number' name='email' placeholder='Set point count')

  h4 Reset password
  label.sr-only(for='passwd') Password
  input.form-control#passwd(type='text' name='password' placeholder='New password')

  button.btn.btn-lg.btn-primary.btn-block(type='submit') Edit
