.row
  .col.s12
    .card.center
      .card-image
        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left#account-edit-back-button
          i.material-icons arrow_back
      .card-content
        h5.card-title Account Edit
        h6 Modify and update #{user.id}'s information.
      .card-action
        form.form-edit#account-edit-form
          .form-group.row
            label.col-sm-2.col-form-label(for='userid') Username
            .col-sm-10
              input.form-control#userid(type='text' name='id' value=user.id autofocus)
          .form-group
            .row
              label.col-sm-2.col-form-label(for='fname') First Name
              .col-sm-10
                input.form-control#fname(type='text' name='fname' value=user.fname)
            .row
              label.col-sm-2.col-form-label(for='lname') Last Name
              .col-sm-10
                input.form-control#lname(type='text' name='lname' value=user.lname)
          .form-group.row
            label.col-sm-2.col-form-label(for='email') Email
            .col-sm-10
              input.form-control#email(type='email' name='email' value=user.email)
          .form-group.row
            label.col-sm-2.col-form-label(for='points') Points
            .col-sm-10
              input.form-control#points(type='number' name='points' value=user.points)
          .form-group.row
            label.col-sm-2.col-form-label(for='passwd') Password
            .col-sm-10
              input.form-control#passwd(type='text' name='newPassword' placeholder='New password')
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Update
