h4.sidebar-item#sidebar-name #{user.fname} #{user.lname}
h3.sidebar-item#sidebar-points #{user.points} Points
p.sidebar-item Questions attempted: #{user.attemptedCount}
p.sidebar-item Questions successfully answered: #{user.answeredCount}
if (user.answeredCount + user.attemptedCount) === 0
  p.sidebar-item You have not yet attempted any questions.
else
  p.sidebar-item You have a #{((user.answeredCount / (user.answeredCount + user.attemptedCount)) * 100).toFixed(2)}% success rate.

.leaderboard-sidebar
  h4.sidebar-item Leaderboard
  .leaderboard-small
