h4.sidebar-item#name #{user.fname} #{user.lname}
h3.sidebar-item#points #{user.points} Points
p.sidebar-item Questions attempted: #{user.attempted}
p.sidebar-item Questions successfully answered: #{user.answered}
if user.attempted == 0
  p.sidebar-item You have not yet attempted any questions.
else
  p.sidebar-item You have a #{(user.answered / user.attempted) * 100}% success rate.

.leaderboard-sidebar
  h4.sidebar-item Leaderboard
  .leaderboard-small
