table.table
  thead
    tr
      th Rank
      th User ID
      th Points
      if fullTable
        th Attempts
        th Correct Answers
        th Success Rate
  tbody
    each s in leaderboard
      if s.rank == 0
        tr.col-default
          td ...
          td ...
          td ...
          if fullTable
            td ...
            td ...
            td ...
      else
        if s.points != 0 && s.rank <= 3
          if s.rank == 1
            - rowclass = 'col-gold';
          if s.rank == 2
            - rowclass = 'col-silver';
          if s.rank == 3
            - rowclass = 'col-bronze';
        else
          - rowclass = 'col-default';
        if s.id == userid
          - rowclass += ' col-isuser';
        tr(class=rowclass)
          td #{s.rank}
          td #{s.id}
          td #{s.points}
          if fullTable
            td #{s.attemptedCount}
            td #{s.answeredCount}
            if (s.answeredCount + s.attemptedCount) === 0
              td N/A
            else
              td #{((s.answeredCount / (s.answeredCount+s.attemptedCount)) * 100).toFixed(2)}%
