if answerForm
	.form-group
		each index in [1,2,3,4]
			p
				input(type='radio', name='radbutton', value='mcans'+index, id='mcans'+index required)
				label(for='mcans'+index) Is Correct
				input.form-control(type='text', name='mcans'+index, placeholder='Enter Answer Here', required, style='float:left;')
				a.btn-floating.btn-tiny.waves-effect.waves-light.red(onclick='$(this).parent().remove()')
					i.tiny.material-icons close

	#addMoreAnswersButton
		a.waves-effect.waves-light.btn(onclick="addMCAnswers('qAnswer')") add answer

else if studentQuestionForm
	form.form-question#mc_answerform
		each answer in question.choices
			input(type='radio' name='answer', value=answer, id=answer, required, autofocus)
			label(for=answer) #{answer}

		button(class='btn btn-lg btn-primary btn-block' type='submit') Submit

else if adminQuestionEdit
	.form-group
		each option, i in question.choices
			p
				if question.answer == option
					input(type='radio', name='radbutton', id=i, value=i, required, checked)
				else
					input(type='radio', name='radbutton', id=i, value=i, required)
				label(for=i) Is Correct
				input.form-control(type='text', name='mcans'+i, placeholder='Enter New Answer Here', required, style='float:left;' value=option)
				a.btn-floating.btn-tiny.waves-effect.waves-light.red(onclick='$(this).parent().remove()')
					i.tiny.material-icons close

	#addMoreAnswersButton
		a.waves-effect.waves-light.btn(onclick="addMCAnswers('qAnswer')") add answer

block scripts
	script(src='/js/mc-answer.js')
