block styles
  link(rel='stylesheet' href='/css/admin.css')
  
.row
  .col.s12
    .card.center
      .card-image
        a.btn-floating.halfway-fab.waves-effect.waves-light#question-creation-button
            i.material-icons playlist_add
      .card-content
        h5.card-title Manage Questions
        h6 Add, modify or delete questions.
      .card-action
        table.bordered.centered
          thead
            tr
              th Visiblity
                button(id='allVisibility', onClick='updateAllVisibility()') Show All Questions
                .switch
                  label
                    | Hide List
                    input(id='sw' type='checkbox', checked=false, onClick='toggleButtonVisibility()')
                    span.lever
                    | Show List
              th ID
              th Title
              th Topic
              th Type
              th Action
          tbody
            each q in questions
              tr
                td.center
                  p
                    if q.visible
                      i.material-icons.hiddenEye(id='hiddenEye' + q._id) visibility
                    else
                      i.material-icons.hiddenEye(id='hiddenEye' + q._id) visibility_off
                    input.checked(id='checked-' + q._id, name=q.number, type='checkbox', checked=q.visible)
                    label.visbox(for='checked-' + q._id, name=q.number)
                td #{q.number}
                td #{q.title}
                td #{q.topic}
                td #{questionType(q.type)}
                td
                  button.btn.btn-default.view-button(id='view-' + q._id, name=q.number, type='button', aria-label='View')
                    i.material-icons remove_red_eye
                  button.btn.btn-default.edit-button(id='edit-' + q._id, name=q.number, type='button', aria-label='Edit')
                    i.material-icons edit
                  button.btn.btn-default.delete-button(id='delete-' + q._id, name=q.number, type='button', aria-label='Delete')
                    i.material-icons close