extends layout

block styles
  link(rel='stylesheet' href='/css/question.css')
  link(rel='stylesheet' href='/css/sidebar.css')
  link(rel='stylesheet' href='/lib/materialize/css/materialize.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='/css/rating.css')
  if !preview
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/lib/sweetalert/sweetalert.css')

block title
  if !preview
    title Quizzard - Question
  else
    title Quizzard - Question Preview

block content
  if !preview
    include navbar

  br
  .container
    .row.center
      .col.s12.m8
        .card
          .card-image
            a.btn-floating.halfway-fab.waves-effect.waves-light.red.left(href='/')
              i.material-icons arrow_back
          .card-content
            h4.qtext #{question.title}
          .card-action
            h5.qtext !{question.text}
            | !{getQuestionForm()}

        if answered
          .success
            h4.text-center#success-header Learn more
            p#success-message #{question.successMessage}
            include rating
      .col.s12.m4
        .card
          .card-content
            h4.sidebar-item#topic #{question.topic}
          .card-action
            h5.sidebar-item#points #{question.points} Points
            p.sidebar-item#attempts This question has been attempted #{question.totalCount} times.
            if question.answeredCount == 0
              p.sidebar-item#first-answer You could be the first person to correctly answer this question!
            else
              p.sidebar-item#first-answer #{question.firstAnswer} was the first person to answer this question.
            if preview
              h4.sidebar-item#hint Hint: #{question.hint}
            else
              h4.sidebar-item#hint.hidden Hint: #{question.hint}

block scripts
  if !preview
    script(src='/lib/jquery/jquery-3.1.1.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/sweetalert/sweetalert.min.js')
    script(src='/lib/materialize/js/materialize.min.js')
    script(src='/js/admin.js')
    script(src='/js/question.js')
    script(src='/js/rating.js')
    script(src='/js/common.js')
    script(src='/js/navbar.js')
