if questions.length == 0
  .no-questions
    h4.text-center You have completed all currently available questions. Well done!
    p.text-center Check back later for more...
else
  ul.collection
  each q in questions
    li.collection-item
      h4 #{q.title}
    .row.question-block(id=q.id)
      .col-sm-8.qleft
        p.text-center.title #{q.title}
      .col-sm-4.qright
        p.topic #{q.topic}
        p.points #{q.points}
