extends layout

block styles
  link(rel='stylesheet' href='/css/sidebar.css')

block content
  include navbar

  .container
    br
    .row
      .col.s12
        h3.center Administration Settings
    .row
      .col.s12
        ul.collapsible.popout(data-collapsible='expandable')
          li
            .collapsible-header
              i.material-icons settings
              | General Settings
            .collapsible-body
              span Lorem ipsum dolor sit amet.
          li
            .collapsible-header
              i.material-icons person
              | Student Settings
            .collapsible-body
              h5 Allow Students to Change:
              span First and last name:
              .switch
                label
                  | Don't allow
                  input(type="checkbox" checked=false)
                  span.lever
                  | Allow
              br
              span Email:
              .switch
                label
                  | Don't allow
                  input(type="checkbox" checked=false)
                  span.lever
                  | Allow
              br
              span Password:
              .switch
                label
                  | Don't allow
                  input(type="checkbox" checked=false)
                  span.lever
                  | Allow
              br

          li
            .collapsible-header
              i.material-icons library_books
              | Question Settings
            .collapsible-body
              .row
                label(for='qtopic') Default Topic (optional)
                .input-field
                  input.form-control#qtopic.autocomplete(type='text' name='topic' placeholder='Enter Topic' autocomplete='off')
              .row
                .col.s4.m6
                  label(for='qMinPoints') Default Minimum points (optional)
                  .input-field
                    input.form-control#qMinPoints.autocomplete(type='number' name='minPoints' placeholder='Minimum Points')
                .col.s4.m6
                  label(for='qMaxPoints') Default Maximum points (optional)
                  .input-field
                    input.form-control#qMaxPoints.autocomplete(type='number' name='maxPoints' placeholder='Maximum Points')
              .row
                span Timeout if the question is not answered correctly
                .switch
                  label
                    | Disable
                    input#allowTimeout(type="checkbox" checked=false onclick="$(this)[0].checked ? $('#qtimeout').removeClass('hidden') : $('#qtimeout').addClass('hidden')")
                    span.lever
                    | Enable
              .row
                .col.s4.m12
                  .input-field
                    input.form-control#qtimeout.autocomplete(type='number' name='timeout' placeholder='Enter timeout in minutes ex. 10')
          li
            .collapsible-header
              i.material-icons question_answer
              | Discussion Board Settings
            .collapsible-body
              h5 Discussion Board Status:
              form
                input(type='radio' name='discussionView', value='none', id='none')
                label(for='none') Don't use discussion board
                br
                input(type='radio' name='discussionView', value='answered', id='answered')
                label(for='answered') Available only for students who have answered the question
                br
                input(type='radio' name='discussionView', value='all', id='all')
                label(for='all') Available for all students
              br
              br
              span Dislikes on comments and replies
              .switch
                label
                  | Don't allow
                  input(type="checkbox" checked=false)
                  span.lever
                  | Allow

block scripts
  script(src='/js/common.js')
  script(src='/js/navbar.js')
  script(src='/js/settings.js')
