.row
  .col.s12
    .card.center
      .card-content
        h5.card-title Users Statistics
        h6 Examine information about users' statistics.
      .card-action
        table.bordered
          thead
            tr
              th Username
              th Questions Attempted
              th Correct Answers
              th Success Rate
              th Points
          tbody
            each s in students
              tr
                td #{s.username}
                td #{s.totalAttemptsCount}
                td #{s.correctAttemptsCount}
                if s.totalAttemptsCount === 0
                  td 0%
                else
                  td #{((s.correctAttemptsCount / s.totalAttemptsCount) * 100).toFixed(2)}%
                td #{s.points}
.row
  .col.s12
    .card.center
      .card-content
        h5.card-title Questions Statistics
        h6 Examine information about questions' statistics.
      .card-action
        table.bordered
          thead
            tr
              th ID
              th Title
              th Min Points
              th Max Points
              th Total Attempts
              th Correct Answers
              th Success Rate
              th First Answer
          tbody
            each q in questions
              tr
                td #{q.number}
                td #{q.title}
                td #{q.minpoints}
                td #{q.maxpoints}
                td #{q.totalAttemptsCount}
                td #{q.correctAttemptsCount}
                if q.totalAttemptsCount === 0
                  td 0%
                else
                  td #{((q.correctAttemptsCount / q.totalAttemptsCount) * 100).toFixed(2)}%
                td #{q.firstAnswerDisplay}
